div.dataTables_wrapper div.dataTables_filter {
	text-align: right;
	width: 50%;
	float: right;
}
.dataTables_length {
	width: 50%;
	float: left;
}

.alert {
	position: fixed;
	z-index: 10000;
	margin-left: 65%;
	color: #fff;
	font-weight: 600;
	margin-top: 1rem;
	padding: 0.5rem 1.25rem;
}

.alert .fa-bell-o {
	padding-right: 10px;
}

.alert span {
	color: #fff;
}

.close {
	opacity: 1;
}

.alert-success {
	background-color: #008037;
}

.alert-error {
	background-color: #e96125;
}

.ui-autocomplete {
	top: 39%;
	left: 61%;
	padding: 5px 0px;
	z-index: 1022 !important;
	position: fixed !important;
	width: 22%;
	list-style: none;
	background-color: #f7f7f7;
	border-color: #ccc;
	border-color: rgba(0, 0, 0, 0.2);
	border-style: solid;
	border-width: 1px;
}

.alert-danger {
	background-color: #bb2e27 !important;
}

.ui-menu .ui-menu-item {
	cursor: pointer;
	width: 100%;
	height: 60px;
	padding: 9px 12px;
	border-bottom: 1px solid #efefef !important;
}

body[data-sidebar="dark"] .mm-active {
	color: #fff !important;
}

.right-bar {
	background-color: #333547;
}

body[data-sidebar="dark"] .mm-active .active {
	color: #8699ad !important;
	background-color: #333547;
}

.rating-symbol-background,
.rating-symbol-foreground {
	font-size: 18px;
}

.select2-search--dropdown {
	border: 1px solid #ced4da !important;
}
.select2-results__options {
	border: 1px solid #ced4da !important;
	border-top: none !important;
}
